@model WorkWithDb.Experiment

<head>
    <script type="text/javascript">
        var myUrl = '@Url.Content("~/Experiment/RegisterExperiment")';
    </script>
</head>
<body>
    @Html.Partial("SavingToDbResult")
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h3>Учетная карта ГАС</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="tableContainer">
                        @Html.Partial("Table", ViewData["Table"])
                    </div>
                    <div class="col-md-12" id="updateDbContainer">
                        <button name="updateDB" type="button" class="btn btn-default btn-md btn-block" id="updateDB">Сохранить изменения в БД</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="formContainer">
                        <form>
                            @Html.HiddenFor(m => m.Id_ex, new { id = "Id" })
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name_ex, "Название", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10 input-container">
                                        @Html.TextBoxFor(m => m.Name_ex, null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Autor_ex, "Автор", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10 input-container">
                                        @Html.TextBoxFor(m => m.Autor_ex, null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DatReg, "Дата создания", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10 input-container">
                                        @Html.TextBoxFor(m => m.DatReg, null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descr, "Описание", new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10 input-container">
                                        @Html.TextAreaFor(m => m.Descr, new { @class = "form-control", @cols = 45, @rows = 10 })
                                    </div>
                                </div>
                            </div>

                            
                            @Html.Partial("ButtonPanel")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
