@model ModComplexProject.Models.Table
    <head>
        <style>
            tbody tr:hover {
                cursor: pointer;
            }

            table, tr, td {
                border: 1px solid;
                height: 30px;
            }

            tbody tr:hover{
                background-color:rgb(230, 230, 164);
            }

            thead {
                background-color: lightgrey;
            }

            .selectedRow{
                background-color:rgb(218, 218, 120);
            }
        </style>
    </head>
<body>
    <table>
        <thead>
            <tr>
                @for (int i = 0; i < Model.headers.Count; i++)
                {
                    if (Model.skipIndexes.Contains(i))
                    {
                        <td class="hidden">@Model.headers[i]</td>
                    }
                    else
                    {
                        <td>@Model.headers[i]</td>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (IList<string> dataRow in Model.data)
            {
                <tr>
                    @for (int i = 0; i < dataRow.Count; i++)
                    {
                        if (Model.skipIndexes.Contains(i))
                        {
                            <td name="@Model.headers[i]" class="hidden">@dataRow[i]</td>
                        }
                        else
                        {
                            <td name="@Model.headers[i]">@dataRow[i]</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</body>


